/* You can add global styles to this file, and also import other style files */
/*._body{
    height:85vh
}*/

.copyright a{
  cursor:pointer;
  color:#e30026 ! important
}
th,td{
  font-size: 0.9em !important;
}

.alert {
  position: relative;
  padding: .3rem 1.25rem !important;
  margin-bottom: rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-weight: 600;
}

.alert-pending{
  background: var(--yellow);
}

.alert-processing{
  background: #c847e8;
}

label {
  font-size: 1.5rem;
  font-weight: 500 !important;
  margin-bottom: 0.1rem !important;
}



.disabled{
    cursor: not-allowed;
}

.dropdown-menu .cart-list {
  
  max-height: 50%;
  overflow-y: scroll;
  margin-bottom: 15px;
  padding: 0 20px;
  margin-top: 40px;
  }
  
  .dropdown-menu .cart-list .product-widget {
    padding: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .dropdown-menu .cart-list .product-widget:last-child {
    margin-bottom: 0px;
  }
  
  .dropdown-menu .cart-list .product-widget .product-img {
    left: 0px;
    top: 0px;
    
    
  }

  .dropdown-menu .cart-list .product-widget .product-body{
    
  }

  .dropdown-menu .cart-list .product-widget .product-body .product-name{
    font-size:1rem
  }
  
  .dropdown-menu .cart-list .product-widget .product-body .product-price {
    color: #2B2D42;
    font-size: 1.2rem;
  }
  
  .dropdown-menu .cart-btns {
    margin: 0px 0px 0px;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  
  .dropdown-menu .cart-btns>a {
    display: inline-block;
    width: calc(50% - 0px);
    padding: 12px;
    background-color: #D10024;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .dropdown-menu .cart-btns>a:first-child {
    margin-right: 0px;
    background-color: #1e1f29;
  }
  
  .dropdown-menu .cart-btns>a:hover {
    opacity: 0.9;
  }
  
  .dropdown-menu .cart-summary {
    border-top: 1px solid #E4E7ED;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 40px;
  }


  /*ADMIN SECTION CSS*/
  .login-card-body, .register-card-body {
    background: #fff;
    border-top: 0;
    color: #666;
    padding: 20px;
}

.login-box-msg, .register-box-msg {
  margin: 0;
  padding: 0 20px 20px;
  text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  
  box-shadow: inset 0 0 0 transparent;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.no-display{
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 600;
}

.pagination /deep/  .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: var(--danger);
    color: #fefefe;
    cursor: default;
}


