.content-row{
    display:flex;
    height:250px;
    justify-content: center;
    align-items: center;
}

.contents-wrapper{
    display:flex;
    background:rgba(208, 208, 208, 0.364);
    margin:30px 0;
    width:500px;
    height:fit-content;
    max-height:250px;
    padding:20px;
    flex-direction:column;
}

.contents-wrapper h1{
    font-size:2rem !important;
}