<div class="container">
    <div class="row ">
      <div class="col-sm-12">
        <h5>{{'CUSTOMERPAGE.ChangePword' | translate}}</h5>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="passwordForm" (ngSubmit) = "submit()">
              <div class="row">
                <div class="form-group col-sm-12 col-md-12">
                  <label for="">{{'CUSTOMERPAGE.CPassword' | translate}}<label
                      class="red-text">*</label></label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">*</div>
                    </div>
                    <input type="text" class="form-control" id="password" name="password" formControlName="password"
                      placeholder="Enter your Current password">

                  </div>
                  <!--Validation-->
                  <!-- <div *ngIf="submitted && f.fname.errors">
                  <div *ngIf="f.fname.errors.required" class="alert alert-danger">First name is required</div>
                </div>-->
                </div>

                <div class="form-group col-sm-12 col-md-12">
                  <label for="">{{'CUSTOMERPAGE.NPassword' | translate}}<label
                      class="red-text">*</label></label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">*</div>
                    </div>
                    <input type="text" class="form-control" id="npassword" name="npassword" formControlName="npassword"
                      placeholder="Enter your New password">

                  </div>
                  <!--Validation-->
                  <!-- <div *ngIf="submitted && f.fname.errors">
                    <div *ngIf="f.fname.errors.required" class="alert alert-danger">First name is required</div>
                  </div>-->
                </div>

                <div class="form-group col-sm-12 col-md-12">
                  <label for="">{{'CUSTOMERPAGE.RPassword' | translate}}<label
                      class="red-text">*</label></label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">*</div>
                    </div>
                    <input type="text" class="form-control" id="cpassword" name="cpassword" formControlName="cpassword"
                      placeholder="{{'CUSTOMERPAGE.NPassword' | translate}}">

                  </div>
                  <!--Validation-->
                  <!-- <div *ngIf="submitted && f.fname.errors">
                    <div *ngIf="f.fname.errors.required" class="alert alert-danger">First name is required</div>
                  </div>-->
                </div>

                <div class="col-sm-12 ">
                  <div class=" w-100 ">
                    <button class="btn btn-warning btn-block" type="submit"><i class="fa "></i>
                      {{'CUSTOMERPAGE.Submit' | translate}}</button>

                  </div>

                </div>

              </div>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
