<div class="container-fluid ">
  <div class="row footer">

    <div class="col-sm-12">
      <div class="social-footer footer-right">
        <div class="socials"><a href="#" class="social-link"><span class="fa fa-facebook"><span
                class="hidden">hidden</span></span></a><a routerLink="/" class="social-link"><span class="fa fa-twitter"><span
                class="hidden">hidden</span></span></a><a routerLink="/" class="social-link"><span class="fa fa-pinterest"><span
                class="hidden">hidden</span></span></a><a routerLink="/" class="social-link"><span
              class="fa fa-youtube-play"><span class="hidden">hidden</span></span></a><a routerLink="/"
            class="social-link"><span class="fa fa-instagram"><span class="hidden">hidden</span></span></a>
        </div>

        <div class="logo">
          <a routerLink="/"><img src="../../assets/img/logo-bw.png" alt=""></a>
        </div>
  
          <div class="col-md-12 col-sm-12 menu-footer footer-center">
            <ul class="menu">
              <li class="menu-item"><span>Maungano, Kinshasa, DR Congo</span></li>
              <li class="menu-item"><span>Telephone: +243 995 215390</span></li>
              <li class="menu-item"><span>order@maungano.com</span></li>
            </ul>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center py-2">
              <img src="../../assets/img/payments.png" alt="" width="200px">
            </div>
    </div>
    
    </div>

  </div>

  <div class="row copyright">
    <div class="d-flex justify-content-start w-50 flex-xs-column flex-sm-column flex-md-row">
      <span class="copyright-msg">
        Copyright@2020 - {{_year}} Maungano Stores. All rights reserved.
        
      </span>
       <span class="copyright-msg"><a routerLink="">Privacy</a></span>
       <span class="copyright-msg"><a routerLink="">Terms</a></span>
      <!--span class="designed-by">
        Developed and Designed by <a href="">Steve Gaita</a> </span>-->
    </div>
  </div>
</div>
