a{
   cursor: pointer;
}

.close {
  margin-top: 0px;
  margin-right: 10px;
  font-size: 2.5rem;
}

.black-tooltip + .tooltip-top > .tooltip-inner {
  background-color: #f00;
  padding: 10px;
  font-size: 14px;
}

.navbar {
  position: relative;
  width: 100%;
}

.navbar .navbar-brand img {
  width: 70% !important;
  margin-left: -30px;
}
.navbar.bg-light {
  z-index: 2000;
  background-color: #ffffff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar.bg-dark {
  background-color: #141e20 !important;
  z-index: 2;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-left: 2.5rem;
  margin-right: 5rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-nav > li > a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #202020;
}

.fa {
  color: #202020;
}
.fa:hover {
  color: #202020;
}
.navbar-nav.icons > li > a {
  font-size: 1rem;
  font-weight: 600;
  color: #202020;
  /*text-align: center;*/
}

.navbar-nav.icons > li > a > i:hover {
  font-size: 1rem;
  font-weight: 600;
  color: #202020;
  /*text-align: center;*/
}

.icons > li > a > i > span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
}

.dropdown-toggle::after:hover {
  color: #202020;
}

.navbar-nav > li > a:hover {
  color: #f0002f;
}

.navbar-nav > li > a:active {
  color: #f0002f;
}

.nav-links {
  cursor: pointer;
}

.icons > li > i {
  color: #202020;
  margin-left: 5px;
  margin-right: 5px;
}

.icons > li.space {
  content: "";
  padding: 0px 5px 0px 5px;
}

.fa-2x {
  font-size: 1rem;
}

.cart-count {
  padding: 5px 15px 10px 15px;
  margin-right: 20px;
  background: white;
  border-radius: 35px;
  margin-top: -7px;
}

li .cart-count {
  color: red;
}

.cart-items,
.product-dets {
  width: 100%;
}

.cart-items-summary {
  padding: 0 30px;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
}

.icons .dropdown-menu .cart-items {
  font-size: 1rem;
  padding: 0px 25px 0 25px;
  max-height: 150px !important;
}

.icons .dropdown-menu .cart-items-h5 {
  font-size: 0.6rem;
}

.icons .dropdown-menu .cart-items-h4 {
  font-size: 1.5rem;
}

.icons .dropdown-menu .cart-items-h4 {
  font-size: 0.9rem;
  padding: 0 20px;
}

.icons .dropdown-menu .view-cart {
  font-size: 1rem;
  color: #fff;
  background: rgb(24, 24, 24);
}

.icons .dropdown-menu .checkout {
  font-size: 1rem;
  color: #fff;
  background: #f0002f;
}

.cart-dropdown {
  position: absolute;
  width: 300px;
  background: #fff;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 0px 2px #e4e7ed;
  box-shadow: 0px 0px 0px 2px #e4e7ed;
  z-index: 99;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.dropdown.open > .cart-dropdown {
  opacity: 1;
  visibility: visible;
}

.buttons {
  width: 100%;
  text-align: center;
}
.buttons a {
  color: white;
  font-weight: 700;
}

.buttons .cart {
  background: #1d1d1d;
  border-radius: 0;

  width: 46%;
  padding: 10px;
}

.buttons .checkout {
  background: rgb(107, 1, 1);
  border-radius: 0;
  border-left: antiquewhite 1px solid;
  width: 46%;
  padding: 10px;
}

@media (min-width: 320px) {
  .navbar {
    position: relative;
    width: 100%;
  }

  button.navbar-toggler {
    position: absolute !important;
    right: 10px !important;
    top: 14px !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar .navbar-brand img {
    width: 70% !important;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .carousel-caption h5 {
    margin-top: -600px;
    font-size: 5rem;
    font-weight: 700;
  }

  .navbar .navbar-brand img {
    width: 80% !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar {
    position: relative;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    margin-left: -320px;
    width: 450px;
    margin-top: 16px;
    height: 70vh;
  }

  .navbar-nav > li > a {
    font-size: 1rem;
    font-weight: 500;
    color: #202020;
  }

  .icons {
    margin: -10px 0 0 0;
  }

  .cart-items-details {
    max-height: 100px !important;
    height: 100px;
    overflow-y: scroll;
    padding: 0 30px;
  }

  .cart-items-details h3 a {
    font-size: 0.8rem;
    color: rgb(39, 39, 39);
    text-decoration: none;
  }

  .cart-items-details h3 a:hover {
    font-size: 0.8rem;
    color: #f0002f;
    text-decoration: none;
    transition: 2s color;
  }

  .navbar .navbar-brand img {
    width: 90% !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar {
    position: relative;
  }

  .navbar .navbar-brand img {
    width: 100% !important;
  }

  .navbar.bg-light {
    z-index: 2000;
    background-color: #fff !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .navbar.bg-dark {
    background-color: #141e20 !important;
    z-index: 2;
  }
  .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 2.5rem;
    margin-right: 5rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .navbar-nav > li > a {
    font-size: 1.2rem;
    font-weight: 500;
    color: #f0002f;
  }

  .fa {
    color: #f0002f;
  }
  .fa:hover {
    color: #f0002f;
  }
  .navbar-nav.icons > li > a {
    font-size: 1rem;
    font-weight: 600;
    color: #f0002f;
    text-align: center;
  }

  .navbar-nav.icons > li > a > i:hover {
    font-size: 1rem;
    font-weight: 600;
    color: #f0002f;
    /*text-align: center;*/
  }

  .icons > li > a > i > span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
  }

  .dropdown-toggle::after:hover {
    color: #f0002f;
  }

  .navbar-nav > li > a:hover {
    color: #f0002f;
  }

  .navbar-nav.icons > li > a:hover {
    color: #ffffff;
  }

  .navbar-nav > li > a:active {
    color: #f0002f;
  }

  .nav-links {
    cursor: pointer;
  }

  .icons > li > i {
    color: #202020;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icons > li.space {
    content: "";
    padding: 0px 5px 0px 5px;
  }

  .fa-2x {
    font-size: 1rem;
  }

  .cart-count {
    padding: 5px 15px 10px 15px;
    margin-right: 20px;
    background: white;
    border-radius: 35px;
    margin-top: -7px;
  }

  li .cart-count {
    color: red;
  }

  .cart-items,
  .product-dets {
    width: 100%;
  }

  .cart-items-summary {
    padding: 0 30px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .icons .dropdown-menu .cart-items {
    font-size: 1rem;
    padding: 0px 25px 0 25px;
    max-height: 150px !important;
  }

  .icons .dropdown-menu .cart-items-h5 {
    font-size: 0.6rem;
  }

  .icons .dropdown-menu .cart-items-h4 {
    font-size: 1.5rem;
  }

  .icons .dropdown-menu .cart-items-h4 {
    font-size: 0.9rem;
    padding: 0 20px;
  }

  .icons .dropdown-menu .view-cart {
    font-size: 1rem;
    color: #fff;
    background: rgb(24, 24, 24);
  }

  .icons .dropdown-menu .checkout {
    font-size: 1rem;
    color: #fff;
    background: #f0002f;
  }

  .cart-dropdown {
    position: absolute;
    width: 300px;
    background: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 0px 2px #e4e7ed;
    box-shadow: 0px 0px 0px 2px #e4e7ed;
    z-index: 99;
    right: 0;
    opacity: 0;
    visibility: hidden;
  }

  .dropdown.open > .cart-dropdown {
    opacity: 1;
    visibility: visible;
  }

  .buttons {
    width: 100%;
    text-align: center;
  }
  .buttons a {
    color: white;
    font-weight: 700;
  }

  .buttons .cart {
    background: #1d1d1d;
    border-radius: 0;

    width: 46%;
    padding: 10px;
  }

  .buttons .checkout {
    background: rgb(107, 1, 1);
    border-radius: 0;
    border-left: antiquewhite 1px solid;
    width: 46%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .navbar-collapse {
    position: fixed;
    top: 93px;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-left: rgb(243, 16, 16) 4px solid;
  }

  .navbar-collapse.collapsing {
    right: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    right: 0;
    transition: right 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: right 500ms ease-in-out;
  }
}
