<div class="container">
    <div class="row p-5 ">
        <div class="col-sm-12 d-block align-items-center justify-content-center text-center">
            
               <div><i class="fas fa-5x fa-check-circle text-success"></i></div>
               <div class="heading">Congratulations! You are verified.</div>
               <div class="message"><p>Thank you for verifying your account. You may use this link to login. <a routerLink="/login">Click here</a></p></div> 
           
        </div>
    </div>
</div>