<div class="card">
    <div class="card-header">
      <h3 class="card-title font-weight-bold">Orders</h3>

      <div class="card-tools">
        <ul class="pagination pagination-sm float-right">
          <li class="page-item"><a class="page-link" href="#">«</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Reference</th>
            <th>Customer</th>
            <th>Delivery address</th>
            <th>Total</th>
            <th>Payment mode</th>
            <th>Status</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>JK23456</td>
            <td>Customer name</td>
            <td>123 Station Rd.,Nakuru</td>
            <td>$1200</td>
            <td>Cash</td>
            <td class="badge badge-success">Paid</td>
            <td>24/11/1995</td>
            <td><button class="btn btn-secondary"> <i class="fas fa-search"></i> View</button> <i class="fas fa-ellipsis-v"></i></td>
          </tr>

          
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
