<div class="card">
    <div class="card-header">
      <h3 class="card-title font-weight-bold">Orders</h3>

      <div class="card-tools">
        <ul class="pagination pagination-sm float-right">
          <li class="page-item"><a class="page-link" href="#">«</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Product</th>
            <th>Customer</th>
            <th>Delivery address</th>
            <th>Total</th>
            <th>Payment mode</th>
            <th>Status</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders; let i=index">
            <td>{{order.id_order}}</td>
            <td>{{order.product_name}}</td>
            <td>Customer name</td>
            <td>123 Station Rd.,Nakuru</td>
            <td>$1200</td>
            <td>Cash</td>
            <td class="badge badge-success">Paid</td>
            <td>24/11/1995</td>
            <td>
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select action
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item" href="#">Publish</a>
                  <a class="dropdown-item" href="#">Delete</a>
                </div>
              </div>
            </td>
          </tr>

          
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
