
  

 

  <div class="wrapper" *ngIf="!hasRoute('admin')">

    <!--Frontend section-->
    <app-topnav *ngIf="!hasRoute('admin')"></app-topnav>
    <app-navbar *ngIf="!hasRoute('admin')" ></app-navbar>
    <router-outlet *ngIf="!hasRoute('admin')"></router-outlet>
    <app-footer *ngIf="!hasRoute('admin')"></app-footer>
    <app-copyright *ngIf="!hasRoute('admin')" ></app-copyright>
    <!-- End frontend-->
  </div>

    <!--Admin section-->
    <div class="wrapper" *ngIf="hasRoute('admin')">
    <!--Return content here-->

    <router-outlet></router-outlet>
  
    <!-- Main Footer -->
    <footer class="main-footer" >
      <strong>Copyright &copy; 2020 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.3
      </div>
    </footer>
    <!--End Admin section-->
  </div>
  <!-- ./wrapper -->

  

