<div class="card">
    <div class="card-header">
      <h3 class="card-title font-weight-bold">Restaurants</h3>

      <div class="card-tools">
        <a class="btn" routerLink="../create"><i class="fas fa-2x fa-plus-circle"></i></a>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Image</th>
            <th>Restaurant name</th>
            <th >Description</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let restaurant of restaurants; let i=index">
            <td>{{i + 1}}</td>
            <td class="image"><img class="rounded-circle"  src="{{restaurant.supplier_image}}" alt="" width="50px" height="50px"></td>
            <td>{{restaurant.supplier_name}}</td>
            <td>{{restaurant.supplier_description}}</td>
            <td >
              <span class="status status-activated" *ngIf="restaurant.status<1"> <i class="fa fa-check"></i></span><span class="status status-deactivated" *ngIf="restaurant.status>0"><i class="fa fa-times"></i></span>
            </td>
            <td>
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select action
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item" href="#"><span  *ngIf="restaurant.status>0">Deactivate</span><span  *ngIf="restaurant.status<1">Activate</span></a>
                  <a class="dropdown-item" href="#">Delete</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
