<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 vertical-menu">
         <h5>Categories</h5>
         <div class="vert-menu-list">
          <ul>
              <li><a routerLink="/drinks">Beer</a> </li>
              <li><a routerLink="/drinks">Wine</a></li>
              <li><a routerLink="/drinks">Spirits</a></li>
              <li><a routerLink="/drinks">Liqueur</a></li>
              <li><a routerLink="/drinks">Water</a></li>
              <li><a routerLink="/drinks">Soft Drinks</a></li>
              <li><a routerLink="/drinks">Gift Pack</a></li>
          </ul>
         </div>
         
      </div>
    </div>
  </div>
  