<div class="container">
    <div class="row p-5 ">
        <div class="col-sm-12 d-block align-items-center justify-content-center text-center">
            
               <div><i class="fas fa-5x fa-check-circle text-success"></i></div>
               <div class="heading">Thank you for signing up</div>
               <div class="message"><p>An account activation email has been sent to your email: <strong>{{message}}</strong> . Click the link email to verify your address.</p></div> 
           
        </div>
    </div>
</div>


