<div class="container-fluid top">
    <div class="d-flex justify-content-between flex-sm-column flex-md-row w-100 ">
      <span class="order-0">
        <p>{{'TOP.Order' | translate}}: +25400000000 </p>
      </span>
      <span class="d-block order-1">
        <span class="mx-2">
          <select >
            <option > <img alt="flag"> Test</option>
          </select>
  
        </span>
        <span class="_sign_in mx-2">
          <span  class="order-1"><a
              routerLink="/customer/login">{{'TOP.SingIn' | translate}}</a> </span>
          <span  class="order-1"><a
              >{{'TOP.SignOut' | translate}} </a> </span>
        </span>
  
  
  
      </span>
  
    </div>
  
  
  </div>
  