<div class="container">
    <div class="row">
      <div class="col-md-12 py-3">
        <div class="jumbotron text-center">
          <h1 class="display-3">Thank You!</h1>
          <p>{{message}}</p>
          <p class="lead"><strong>Please check your email</strong> for order confirmation.</p>
          <hr>
          <p>
  
          <p>Order reference : <strong>{{order_reference }}</strong></p>
        </div>
  
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of products" >
            <td>
              <img src="../../assets/img/menu/{{p.image}}" alt="" class="img-thumbnail" width="100px">
            </td>
            <td>{{p.product_name}}</td>
            <td>{{p.product_price | currency:'USD'}}</td>
            <td>{{p.quantityOrdered}}</td>
          </tr>
  
          <tr class="border-0">
            <td style="border: none;"></td>
            <td></td>
            <td>TOTAL</td>
            <td>{{cartTotal | currency:'USD'}}</td>
  
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>