<div class="container-fluid py-5">

  <div class="row">
    <div class="col-sm-12 text-center heading mb-4"><h1>Product</h1></div>
  </div>
    <!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row d-flex">
        <!-- Product main img -->
        <div class="col-md-5 col-md-push-2">
          <div id="product-main-img">
            <ng-template [ngIf]="thumbimages.length === 0">
              <div class="product-preview">
                <img src="../../assets/img/menu/{{product?.image}}" alt="">
              </div>
            </ng-template>
            <!-- <ng-template [ngIf]="thumbimages.length > 0">
              <div class="product-preview" *ngFor="let t of thumbimages">
                <img [src]="t" alt="">
              </div>
            </ng-template>-->
          </div>
        </div>
        <!-- /Product main img -->
  
        <!-- Product thumb imgs -->
        <div class="col-md-2  col-md-pull-5 ">
         <ng-template [ngIf]="thumbimages.length > 0">
           <div id="product-imgs">
             <div *ngFor="let t of thumbimages" class="product-preview">
               <img [src]="t" alt="">
             </div>
           </div>
         </ng-template>
          <ng-template [ngIf]="thumbimages.length === 0">
            <div id="product-imgs">
              <div class="product-preview">
                <img src="../../assets/img/menu/{{product?.image}}" alt="">
              </div>
            </div>
          </ng-template>
        </div>
        <!-- /Product thumb imgs -->
  
        <!-- Product details -->
        <div class="col-md-5">
          <div class="product-details">
            <h2 class="product-name">{{product?.product_name}}</h2>
           
            <div>
              <h3 class="product-price">{{product?.product_price | currency:'CDF' }} </h3>
              <span class="product-available">{{product?.quantity < 1 ? "Out of Stock" : "In Stock"}}</span>
            </div>
            <p>{{product?.product_description}}</p>
  
  
            <div class="add-to-cart">
              <div class="qty-label">
                Qty
                <div class="input-number d-flex justify-content-between align-center w-100 flex-row-reverse">
                  <span (click)="Increase()" class="qty-up"><i class="fa fa-plus" aria-hidden="true"></i></span>
                  <input class="" #quantity [max]="product?.quantity" [min]="product?.quantity >= 1 ? product?.quantity : 0"
                         readonly type="number" value="{{product?.quantity >= 1 ? 1 : 0}}">
                  <span (click)="Decrease()" class="qty-down"><i class="fa fa-minus" aria-hidden="true"></i></span>
                </div>
              </div>
              <button (click)="addToCart(product?.id_product)" class="add-to-cart-btn"><i
                class="fa fa-shopping-cart"></i>{{product?.quantity < 1 ? "No Stock" : "Add to cart"}}
              </button>
            </div>
  
            <ul class="product-links">
              <li>Category:</li>
              <li><a href="#">{{product?.category}}</a></li>
              <li>Sub Category:</li>
              <li><a href="#">{{product?.subcategory}}</a></li>
            </ul>
  
           <!-- <ul class="product-links">
              <li>Share:</li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul> -->
  
          </div>
        </div>
        <!-- /Product details -->
  
        <!-- Product tab -->
        <div class="col-md-12">
          <div id="product-tab">
            <!-- product tab nav -->
            <ul class="tab-nav" role="tablist">
              <li class="active" role="presentation"><a data-toggle="tab" href="#tab1" role="tab">Description</a></li>
              
            </ul>
            <!-- /product tab nav -->
  
            <!-- product tab content -->
            <div class="tab-content">
              <!-- tab1  -->
              <div class="tab-pane fade in active" id="tab1" role="tabpanel">
                <div class="row">
                  <div class="col-md-12">
                    <p>{{product?.product_description}}</p>
                  </div>
                </div>
              </div>
              <!-- /tab1  -->
  
            </div>
            <!-- /product tab content  -->
          </div>
        </div>
        <!-- /product tab -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->
  
  
</div>
