<div class="container-fluid">
  <div class="row py-5">
    <div class="col-sm-3">
      <div class="nav flex-column nav-pills">
        <a class="nav-link active" id="v-pills-account-tab" data-toggle="pill" routerLink="./my-account" role="tab"
          aria-controls="v-pills-account" aria-selected="true">{{'CUSTOMERPAGE.MyAccount' | translate}}</a>
        <a class="nav-link" id="v-pills-orders-tab" data-toggle="pill" routerLink="./orders" role="tab"
          aria-controls="v-pills-orders" aria-selected="false">{{'CUSTOMERPAGE.Orders' | translate}}</a>
       <!-- <a class="nav-link" id="v-pills-details-tab" data-toggle="pill" routerLink="./account-details" role="tab"
          aria-controls="v-pills-details" aria-selected="false">{{'CUSTOMERPAGE.Details' | translate}}</a>
        <a class="nav-link" id="v-pills-address-tab" data-toggle="pill" routerLink="./address-book" role="tab"
          aria-controls="v-pills-address" aria-selected="false" >{{'CUSTOMERPAGE.AddressBook' | translate}}</a> -->
        <a class="nav-link" id="v-pills-password-tab" data-toggle="pill" routerLink="./password-manager" role="tab"
          aria-controls="v-pills-password" aria-selected="false">{{'CUSTOMERPAGE.ChangePword' | translate}}</a>
        <button class="btn btn-danger " (click)="this.custAuthService.logout()"> <i class="fa fa-sign-out"></i> {{'CUSTOMERPAGE.SignOut' | translate}} ({{fname}})</button>
      </div>
    </div>

    <div class="col-sm-9">
     <router-outlet></router-outlet>
    </div>
  </div>


</div>
