<div class="container">
    <div class="row ">
      <div class="col-sm-12">
        <h5>{{'CUSTOMERPAGE.Details' | translate}}</h5>

        <div class="card">

          <div class="card-body">
            <form [formGroup]="detailsForm" (ngSubmit)="submit()">
              <div class="row">
                <div class="form-group col-sm-12 col-md-6">
                  <label for="">{{'CUSTOMERPAGE.FirstName' | translate}}<label
                      class="red-text">*</label></label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="fname" name="fname" formControlName="fname"
                      placeholder="{{'CUSTOMERPAGE.EnterFname' | translate}}">

                  </div>
                  <!--Validation-->
                  <!-- <div *ngIf="submitted && f.fname.errors">
                            <div *ngIf="f.fname.errors.required" class="alert alert-danger">First name is required</div>
                          </div>-->
                </div>

                <div class="form-group col-sm-12 col-md-6">
                  <label for="">{{'CUSTOMERPAGE.LastName' | translate}}<label class="red-text">*</label></label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="lname" name="lname" formControlName="lname"
                      placeholder="{{'CUSTOMERPAGE.EnterLname' | translate}}">
                  </div>
                  <!--Validation-->
                  <!--<div *ngIf="submitted && registerForm.get('lname').errors" class="alert alert-danger">
                            <div *ngIf="registerForm.get('lname').errors.required">
                              Last name is required
                            </div>
                          </div>-->
                </div>

                <div class="form-group col-sm-12 col-md-6">
                  <label for="">{{'CUSTOMERPAGE.Email' | translate}}<label class="red-text">*</label></label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    <input type="email" class="form-control" id="email" name="email" formControlName="email"
                      placeholder="{{'CUSTOMERPAGE.EnterEmail' | translate}}">
                  </div>
                </div>

                <div class="form-group col-sm-12 col-md-6">
                  <label for="">{{'CUSTOMERPAGE.Phone' | translate}}</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">#</div>
                    </div>
                    <input type="text" class="form-control" id="primaryPhone" name="primaryPhone" formControlName="primaryPhone"
                      placeholder="{{'CUSTOMERPAGE.EnterPhone' | translate}}">

                  </div>
                </div>

                <div class="col-sm-12 d-flex">
                  <button class="btn btn-warning btn-block" type="submit">
                    {{'CUSTOMERPAGE.Submit' | translate}}</button>
                </div>

              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
