<div class="container-fluid">
  <div class="row">

    <!--Column 1-->

      <!--Column 2  Registration Form-->
    <div class="col-sm-12 col-md-6 col-lg-6 column1-no-bg" *ngIf="_visible">
     <app-sign-up></app-sign-up>

    </div>

     <!--Column 1 not Form-->
    <div class="col-sm-12 col-md-6 col-lg-6 column1 " *ngIf="!_visible">
      <div class="column1-wrapper ">
        <h1>{{'LOGIN.Welcome' | translate}}</h1>
        <p>{{'LOGIN.WelcomeP' | translate}}</p>
          <a class="btn btn-outline-warning" (click)="TogglePage('register')">{{'LOGIN.Register' | translate}}</a>
      </div>
    </div>
 <!--End Column 1-->

    <!--Column 2 Login Form-->
    <div class="col-sm-12 col-md-6 col-lg-6 column2" *ngIf="!_visible">
      <div class="card-wrapper m-5 mt-3 ">
        <div class=" text-center">
          <h4>{{'LOGIN.Login' | translate}}</h4>
          <p>{{'LOGIN.PromptMsg' | translate}}</p>
          <div class="alert alert-info" *ngIf="loading">
            <img
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            {{loadingMsg}}</div>
          <div *ngIf="errorMsg" class="alert alert-danger">
            <p>{{errorMsg}}</p>
          </div>
        </div>
        <div class="card-body">
          <form action="" [formGroup]="loginForm" (ngSubmit)="login()"> 
            <div class="form-group">
              <label for="">{{'LOGIN.Email' | translate}}<label class="red-text">*</label></label>
              <div class="input-group mb-2">
                <input type="email" class="form-control" id="email" name="email" formControlName="email"
                  placeholder="{{'LOGIN.EnterEmail' | translate}}">
                <!--Validation-->
                <!--<div *ngIf="submitted && f.email.errors" class="alert alert-danger">-->
              </div>
              <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger validation">
                <div class="alertMsg" *ngIf="f.email.errors.required">
                  {{'LOGIN.EmailRequired' | translate}}
                </div>
                <div class="alertMsg" *ngIf="f.email.errors.pattern">
                  {{'LOGIN.InvalidEmail' | translate}}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="">{{'LOGIN.Password' | translate}}<label class="red-text">*</label></label>
              <div class="input-group mb-2">

                <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="password" name="password"
                  formControlName="password" placeholder="{{'LOGIN.EnterPassword' | translate}}">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa" [ngClass]="{
                            'fa-eye-slash': !fieldTextType,
                            'fa-eye': fieldTextType
                          }" (click)="toggleFieldTextType()"></i>
                  </span>
                </div>

              </div>
              <div *ngIf="submitted && f.password.errors" class="alert alert-danger validation">
                <div class="alertMsg" *ngIf="f.password.errors.required">
                  {{'LOGIN.PasswordRequired' | translate}}
                </div>
                 </div>
            </div>
            <!--div class="form-group mr-auto">
                    <label for="">Remember me<label class="red-text">*</label></label>
                    <div class="input-group mb-2">
                      <input type="checkbox" class="form-control"  id="remember-me" name=""
                        >
                      </div>
                    </div>-->
            <div class="links d-flex justify-content-between flex-sm-column w-100">
              <div class="remember order-0 ">
                <label for="" class="">{{'LOGIN.Rememberme' | translate}} </label>
                <input type="checkbox" name="" id="" class="">
              </div>
              <div class="forgot order-1 pb-2">
                <a routerLink="/customer/forgot-password">{{'LOGIN.Forgot' | translate}} </a>
              </div>
            </div>
            <button class="btn btn-outline-dark btn-block" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i>
              {{'LOGIN.Login' | translate}} </button>
            <!--<a  class="text-center "><i class="fa fa-google" aria-hidden="true"></i>
              {{'LOGIN.Google' | translate}}</a>-->

          </form>
        </div>
      </div>
    </div>

   <!--Column 2 not Form-->
    <div class="col-sm-12 col-md-6 col-lg-6 column2-bg" *ngIf="_visible">
      <div class="column2-wrapper-bg ">
        <h1 class="text-dark">{{'LOGIN.WelcomeLogin' | translate}}</h1>
        <p class="text-dark">{{'LOGIN.WelcomeLoginP' | translate}}</p>
          <a class="btn btn-outline-danger" (click)="TogglePage('login')">{{'LOGIN.Login' | translate}}</a>
      </div>
    </div>
  </div>

</div>
