<div class="card">
    <div class="card-header">
      <h3 class="card-title font-weight-bold">Menu</h3>

      <div class="card-tools">
        <span class="_button"> 
          <a class="btn" routerLink="../create"><i class="fas fa-2x fa-plus-circle"></i></a>
        </span>
        
        <ul class="pagination pagination-sm float-right">
          <li class="page-item"><a class="page-link" href="#">«</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Image</th>
            <th>Item name</th>
            <th >Category</th>
            <th>Sub Category</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let _menu of menuItems; let i=index">
            <td>{{i+1}}</td>
            <td class="image"><img class="rounded-circle"  src="{{_menu.image}}" alt="" width="50px" height="50px"></td>
            <td>{{_menu.product_name}}</td>
            <td>{{_menu.category}}</td>
            <td>{{_menu.subcategory}}</td>
            <td>{{_menu.product_description}}</td>
            <td>{{_menu.quantity}}</td>
            <td><span class="alert alert-success" *ngIf="_menu.status>0">Published</span><span class="alert alert-danger" *ngIf="_menu.status<1">Unpublished</span></td>
            <td>
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select action
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item" href="#">Publish</a>
                  <a class="dropdown-item" href="#">Delete</a>
                </div>
              </div>
            </td>
          </tr>

          
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
