
<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img/slides/h2-slide.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h5>{{'HEADER.Intro' | translate}}</h5>
            <p class="d-none d-md-block d-lg-block">{{'HEADER.Description' | translate}}</p>
            <button class="btn btn-outline-secondary" routerLink="/restaurants">{{'HEADER.ViewButton' | translate}}</button>
            <form action="" class="d-none">
              <input type="text" placeholder="Search Restaurant">
            </form>
          </div>
        </div>
        
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>