<div class="container-fluid">
  <div class="row py-5">
    <div class="col-sm-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-account-tab" data-toggle="pill" href="#v-pills-account" role="tab"
          aria-controls="v-pills-account" aria-selected="true">My Account</a>
        <a class="nav-link" id="v-pills-orders-tab" data-toggle="pill" href="#v-pills-orders" role="tab"
          aria-controls="v-pills-orders" aria-selected="false">Orders</a>
        <a class="nav-link" id="v-pills-details-tab" data-toggle="pill" href="#v-pills-details" role="tab"
          aria-controls="v-pills-details" aria-selected="false">Details</a>
        <a class="nav-link" id="v-pills-address-tab" data-toggle="pill" href="#v-pills-address" role="tab"
          aria-controls="v-pills-address" aria-selected="false">Address Book</a>
        <a class="nav-link" id="v-pills-password-tab" data-toggle="pill" href="#v-pills-password" role="tab"
          aria-controls="v-pills-password" aria-selected="false">Change Password</a>
        <button class="btn btn-danger "> <i class="fa fa-sign-out"></i> Logout</button>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab">
          <div class="container">
            <div class="row ">
              <div class="col-sm-12">
                <h5>Account Overview</h5>

              </div>


              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header d-flex justify-content-between flex-sm-column flex-md-row w-100">
                    <h6>Account Details</h6>
                    <a href=""><i class="fa fa-pencil"></i></a>
                  </div>
                  <div class="card-body ">
                    <p>STEVE GAITA</p>
                    <p>ginger_gait06@yahoo.com</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header d-flex justify-content-between flex-sm-column flex-md-row w-100"><h6>Address Book</h6>
                    <a href=""><i class="fa fa-pencil"></i></a>
                </div>
                  <div class="card-body">
                      <p>Your default shipping address:</p>
                      <p>Steve Gaita

                        Jabulani Apartments, Limuru Rd, Ruaka
                        
                        Jabulani Apartments. House no. 9 Next to Getrudes Children hospital. Ruaka- Bypass roundabout
                        
                        Kiambu - Nova / Kirigiti / Ndenderu, Kiambu
                        
                        +254 723272915 / +254 781453905</p>

                    </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-orders-tab">
            <div class="container">
                <div class="row ">
                  <div class="col-sm-12">
                    <h5>Orders</h5>
                  </div>

                  <div class="col-sm-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="open-tab" data-toggle="tab" href="#open" role="tab" aria-controls="open" aria-selected="true">Open Orders</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="closed-tab" data-toggle="tab" href="#closed" role="tab" aria-controls="closed" aria-selected="false">Closed Orders</a>
                        </li>
                        
                      </ul>
                      <div class="tab-content py-3" id="myTabContent">
                        <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open-tab">
                            <div class="card py-3 px-3 d-flex justify-content-between flex-sm-column flex-md-row w-100">
                              <img src="../../assets/img/menu/burger3.png"  width="100px" alt="">
                            <div class="product-info">
                              <div class="details"><span><h6>Chicken Burger</h6></span> <span>- Chicken, Bacon, Tomatoes, Cheese, Lettuce, Mayo</span></div>
                              <br>
                              <small class="order-number"> <strong>Order number:</strong> 23981001</small>
                              <br>
                              <p class="badge badge-success mt-3">Delivered</p>
                              <p class="delivery-date"> <strong>ON 16/09/20</strong> </p>
                            </div>
                            <a href="">See Details</a>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="closed" role="tabpanel" aria-labelledby="closed-tab">
                            <div class="alert alert-info w-100 py-3 text-center"><p>No items to display</p></div>
                        </div>
                        </div>
                  </div>
    
    
                 
                 
    
                </div>
              </div>
        </div>
        <div class="tab-pane fade" id="v-pills-details" role="tabpanel" aria-labelledby="v-pills-details-tab">
            <div class="container">
                <div class="row ">
                  <div class="col-sm-12">
                    <h5>Details</h5>

                    <div class="card">
                        
                        <div class="card-body">
                          <form  >
                            <div class="row">
                              <div class="form-group col-sm-12 col-md-6">
                                <label for="">First Name<label class="red-text">*</label></label>
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">F</div>
                                  </div>
                                  <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter your First name">
                
                                </div>
                                <!--Validation-->
                               <!-- <div *ngIf="submitted && f.fname.errors">
                                  <div *ngIf="f.fname.errors.required" class="alert alert-danger">First name is required</div>
                                </div>-->
                              </div>
                
                              <div class="form-group col-sm-12 col-md-6">
                                <label for="">Last Name<label class="red-text">*</label></label>
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">L</div>
                                  </div>
                                  <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter your Last name">
                                </div>
                                <!--Validation-->
                                <!--<div *ngIf="submitted && registerForm.get('lname').errors" class="alert alert-danger">
                                  <div *ngIf="registerForm.get('lname').errors.required">
                                    Last name is required
                                  </div>
                                </div>-->
                              </div>
                
                              <div class="form-group col-sm-12 col-md-6">
                                <label for="">Email<label class="red-text">*</label></label>
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                  </div>
                                  <input type="email"  class="form-control" id="email" name="email"
                                    placeholder="Enter your email (example@email.com)">
                </div>
                             </div>
                
                              <div class="form-group col-sm-12 col-md-6">
                                <label for="">Phone (optional)</label>
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">#</div>
                                  </div>
                                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
                
                                </div>
                              </div>

                            <!-- <div class="form-group col-sm-12 col-md-6">
                                <label for="">Gender (optional)</label>
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">#</div>
                                  </div>
                                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
                
                                </div>
                              </div>

                              <div class="form-group col-sm-12 col-md-6">
                                <label for="">Phone (optional)</label>
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">#</div>
                                  </div>
                                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
                
                                </div>
                              </div>-->
                
                             <div class="col-sm-12 d-flex">
                                <button class="btn btn-warning btn-block" type="submit">
                                  Save</button>
                </div>
                              
                            </div>
                
                          </form>
                        </div>
                      </div>
    
                  </div>
                </div>
                </div>
    
        </div>
        <div class="tab-pane fade" id="v-pills-address" role="tabpanel" aria-labelledby="v-pills-address-tab">
            <div class="container">
                <div class="row ">
                  <div class="col-sm-12 d-flex justify-content-between flex-sm-column flex-md-row w-100">
                    <h5>Address</h5>
                    <button class="btn btn-warning">Add new address</button>
    </div>

    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
              <p>Your default shipping address:</p>
              <p>Steve Gaita

                Jabulani Apartments, Limuru Rd, Ruaka
                
                Jabulani Apartments. House no. 9 Next to Getrudes Children hospital. Ruaka- Bypass roundabout
                
                Kiambu - Nova / Kirigiti / Ndenderu, Kiambu
                
                +254 723272915 / +254 781453905</p>
                <p>Default Address</p>

            </div>
            <div class="card-footer d-flex justify-content-between flex-sm-column flex-md-row w-100">
              <h6>Set as Default Address</h6>
              <i class="fa fa-pencil"></i>
            </div>
        </div>
      </div>
                </div>
                </div>
        </div>

        <div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
            <div class="container">
                <div class="row ">
                  <div class="col-sm-12">
                    <h5>Change Password</h5>
    </div>
<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="row">
                    <div class="form-group col-sm-12 col-md-12">
                      <label for="">Current Password<label class="red-text">*</label></label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">F</div>
                        </div>
                        <input type="text" class="form-control" id="password" name="password" placeholder="Enter your Current password">
      
                      </div>
                      <!--Validation-->
                     <!-- <div *ngIf="submitted && f.fname.errors">
                        <div *ngIf="f.fname.errors.required" class="alert alert-danger">First name is required</div>
                      </div>-->
                    </div>

                    <div class="form-group col-sm-12 col-md-12">
                        <label for="">New Password<label class="red-text">*</label></label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">F</div>
                          </div>
                          <input type="text" class="form-control" id="npassword" name="npassword" placeholder="Enter your New password">
        
                        </div>
                        <!--Validation-->
                       <!-- <div *ngIf="submitted && f.fname.errors">
                          <div *ngIf="f.fname.errors.required" class="alert alert-danger">First name is required</div>
                        </div>-->
                      </div>

                      <div class="form-group col-sm-12 col-md-12">
                        <label for="">Retype New Password<label class="red-text">*</label></label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">F</div>
                          </div>
                          <input type="text" class="form-control" id="cpassword" name="cpassword" placeholder="Retype New password">
        
                        </div>
                        <!--Validation-->
                       <!-- <div *ngIf="submitted && f.fname.errors">
                          <div *ngIf="f.fname.errors.required" class="alert alert-danger">First name is required</div>
                        </div>-->
                      </div>

                      <div class="col-sm-12 ">
                        <div class=" w-100 ">
                          <button class="btn btn-warning btn-block"><i class="fa "></i> Submit</button>
                          
                        </div>
                  
                      </div>

                </div>
            </form>

        </div>
    </div>
</div>
    
                </div>
                </div>
        </div>
      </div>
    </div>
  </div>


</div>
